.DS_Store
.env
evaluation_basics/.env
.idea/
node_modules/
**/*.db
.vscode/
aidevs3/s02e03/output-images/
/aidevs3/s02e04/input-files/
/aidevs3/s02e04/output-files/
/aidevs3/s02e05/cache/
/aidevs3/s03e01/cache/
/aidevs3/s03e01/input-files/
/aidevs3/s03e02/cache/
/aidevs3/s03e05/cache/
/aidevs3/s04e01/cache/
